@charset "utf-8";

/*

GOOGLE ROBOTO (SANS-SERIF)

https://fonts.google.com/specimen/Roboto/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-display: swap;
src: format(woff2) url("https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2");
}

@font-face {
font-family: "Roboto";
font-style: italic;
font-weight: normal;
font-display: swap;
src: format(woff2) url("https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xIIzI.woff2");
}

@font-face {
font-family: "Roboto";
font-style: normal;
font-weight: bold;
font-display: swap;
src: format(woff2) url("https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2");
}

@font-face {
font-family: "Roboto";
font-style: italic;
font-weight: bold;
font-display: swap;
src: format('woff2') url("https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2");
}

*/

@font-face {
font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-display: swap;
src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
font-family: "Roboto";
font-style: italic;
font-weight: normal;
font-display: swap;
src: url("fonts/Roboto-Italic.ttf");
}

@font-face {
font-family: "Roboto";
font-style: normal;
font-weight: bold;
font-display: swap;
src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
font-family: "Roboto";
font-style: italic;
font-weight: bold;
font-display: swap;
src: url("Roboto-BoldItalic.ttf");
}

/*

GOOGLE ROBOTO SLAB (SERIF)

https://fonts.google.com/specimen/Roboto+Slab/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

@font-face {
font-family: "Roboto Slab";
font-display: swap;
src: format(woff2) url("https://fonts.gstatic.com/s/robotoslab/v25/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2");
}

*/

@font-face {
font-family: "Roboto Slab";
font-style: normal;
font-weight: normal;
font-display: swap;
src: url("fonts/RobotoSlab-Regular.ttf");
}

@font-face {
font-family: "Roboto Slab";
font-style: normal;
font-weight: bold;
font-display: swap;
src: url("fonts/RobotoSlab-Bold.ttf");
}

/*

GOOGLE ROBOTO MONO (MONOSPACE)

https://fonts.google.com/specimen/Roboto+Mono/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
font-family: "Roboto Mono";
font-style: normal;
font-display: swap;
src: format(woff2) url("https://fonts.gstatic.com/s/robotomono/v22/L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0mQ.woff2");
}

@font-face {
font-family: "Roboto Mono";
font-style: italic;
font-display: swap;
src: format(woff2) url("https://fonts.gstatic.com/s/robotomono/v22/L0xdDF4xlVMF-BfR8bXMIjhOsXG-q2oeuFoqFrlnAIe2Imhk1T8rbociImtEm-Ul.woff2");
}

*/

@font-face {
font-family: "Roboto Mono";
font-style: normal;
font-weight: normal;
font-display: swap;
src: url("fonts/RobotoMono-Regular.ttf");
}

@font-face {
font-family: "Roboto Mono";
font-style: italic;
font-weight: normal;
font-display: swap;
src: url("fonts/RobotoMono-Italic.ttf");
}

@font-face {
font-family: "Roboto Mono";
font-style: normal;
font-weight: bold;
font-display: swap;
src: url("fonts/RobotoMono-Bold.ttf");
}

@font-face {
font-family: "Roboto Mono";
font-style: italic;
font-weight: bold;
font-display: swap;
src: url("RobotoMono-BoldItalic.ttf");
}

/*

Extra fonts for Nicole Sharp's Website.

Google Fonts: https://fonts.google.com/

2023-08-27 Nicole Sharp
https://www.nicolesharp.net/

Except where otherwise noted, content on Nicole Sharp's Website is licensed under the Creative Commons Attribution-ShareAlike (CC BY-SA) 4.0 International Public License.
https://www.creativecommons.org/licenses/by-sa/4.0/

*/