@charset "utf-8";

@font-face {
font-family: "Roboto Slab";
font-style: normal;
font-weight: normal;
font-display: swap;
src: url("fonts/RobotoSlab-Regular.ttf");
}

@font-face {
font-family: "Roboto Slab";
font-style: normal;
font-weight: bold;
font-display: swap;
src: url("fonts/RobotoSlab-Bold.ttf");
}

/* https://fonts.google.com/specimen/Roboto+Slab/ */

@font-face {
font-family: "Roboto Mono";
font-style: normal;
font-weight: normal;
font-display: swap;
src: url("fonts/RobotoMono-Regular.ttf");
}

@font-face {
font-family: "Roboto Mono";
font-style: italic;
font-weight: normal;
font-display: swap;
src: url("fonts/RobotoMono-Italic.ttf");
}

@font-face {
font-family: "Roboto Mono";
font-style: normal;
font-weight: bold;
font-display: swap;
src: url("fonts/RobotoMono-Bold.ttf");
}

@font-face {
font-family: "Roboto Mono";
font-style: italic;
font-weight: bold;
font-display: swap;
src: url("fonts/RobotoMono-BoldItalic.ttf");
}

/* https://fonts.google.com/specimen/Roboto+Mono/ */

body { font-family: "Roboto Slab", serif; }
a:link { color: fuchsia; }
a:visited { color: purple; }
a:hover { color: red; }
a:active { color: green; }
a.u { text-decoration: none; }
address { font-style: normal; }
cite { text-decoration: underline; font-style: normal; }
code, kbd { font-family: "Roboto Mono", monospace; }

/*

Stylesheet for Nicole Sharp's Website.

2023-08-27 Nicole Sharp
https://www.nicolesharp.net/

Except where otherwise noted, content on Nicole Sharp's Website is licensed under the Creative Commons Attribution-ShareAlike (CC BY-SA) 4.0 International Public License.
https://www.creativecommons.org/licenses/by-sa/4.0/

*/