a:link { color: fuchsia; }
a:visited { color: purple; }
a:hover { color: red; }
a:active { color: green; }
a.u { text-decoration: none; }
address { font-style: normal; }
cite { text-decoration: underline; font-style: normal; }